/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2014, 12:07:55 PM
    Author     : Channing
*/

html{
background: url(green_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


body{
    background: url(green_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


.bq{
    padding-top: 40px;
}

.bquote{
  font: 18px/30px normal Tahoma, sans-serif;
  padding-top: 22px;
  margin: 5px;
  background-image: url(images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 65px;
  }
  
  
  .bquote span {
    display: block;
    background-image: url(images/closequote3.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
} 



.navigation{
    float: right;
    width: 100%;

    
}

.navigation ul{
    margin: 0;
    padding: 0;
}

.navigation ul li{
    list-style-type: none;
    display: inline;
}

.navigation li a{
    display: block;
    float: right;
    padding: 5px 10px;
    text-decoration: none;
    
}

.navigation li a:hover {background: #383;}