/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2014, 12:07:55 PM
    Author     : Channing
*/

html{
background: url(green_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


body{
    background: url(green_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


.bq{
    padding-top: 40px;
}

.bquote{
  font: 18px/30px normal Tahoma, sans-serif;
  padding-top: 22px;
  margin: 5px;
  background-image: url(images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 65px;
  }
  
  
  .bquote span {
    display: block;
    background-image: url(images/closequote3.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
} 






/* Starter CSS for Flyout Menu */
.navigation,
.navigation ul,
.navigation li .navigation a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1;
}
.navigation {
  width: auto;
}
.navigation ul {
  zoom: 1;
  background: #a7bc7a url(images/pattern.png) top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.navigation ul:before {
  content: '';
  display: block;
}
.navigation ul:after {
  content: '';
  display: table;
  clear: both;
}
.navigation a,
.navigation a:link,
.navigation a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
  border-right: 1px solid #839b4e;
}
.navigation a:hover {
  color: #586835;
  text-shadow: 0 1px 1px #bdcd9c;
}
.navigation li {
  float: left;
  border-right: 1px solid #b2c58b;
}
.navigation li:hover {
  background: #9cb369 url(images/pattern.png) top left repeat;
}
.navigation li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}